ellipsis(){
    overflow hidden
    white-space nowrap
    text-overflow:ellipsis
}

iconfontStyle(){
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

navStyle(){
  position: fixed
  width: 100%
  top: 1.76rem
  bottom: 0
  background-color #222
}

bg-image($url)
  background-image: url($url + ".png")