ellipsis(){
    overflow hidden
    white-space nowrap
    text-overflow:ellipsis
}

iconfontStyle(){
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}